@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


/* 読み込む順番の指定方法 https://qiita.com/takish/items/c5f264577d2db75fd10c */

html {
  font-size: 0.85rem;
}

.date_select_wrapper > select {
  border: 1px solid rgb(229, 231, 235);
}

.field_with_errors {
  display: contents;
}

.modal{
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
}
.modal__bg{
  background: rgba(0,0,0,0.8);
  height: 100vh;
  position: absolute;
  width: 100%;
}
.modal__content{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background: #fff;
  width: 90vw;
  height: 50vh;
  padding: 10vw;
  border-radius: 5px;
}