  <% @tags.where(area_num: area_num).each do |tag| %>
    <div class="border h-8 w-auto p-1 m-1 flex justify-between">
      <span class="w-5/6 truncate" id=<%= "tag_text_#{tag.id}" %>><%= tag.text %></span>
      <span class="w-1/12">
      <%= link_to edit_frame_tag_path(tag.id, frame_id: params[:frame_id], area_num: area_num), remote: true, class: "w-full h-full" do %>
      <i class="far fa-edit"></i>
      <% end %>
      </span>
    </div>
  <% end %>