<%= provide(:title, @user.name ) %>

  <div class="wrapper">
    <div class="flex inner-wrapper">
      <div class="icon bg-gray-50">
      <i class="fas fa-user"></i>
      </div>
      <div >
        <p class="font-bold"><%= @user.name %></p>
        <p><%= @user.birthday %></p>
      </div>
    </div>
  </div>

  <%= render "shared/frames", frames: @frames %>
