<p> <%= @resource.name %>(<%= @email %>)さん、初めまして。</p>

<p>サキスルに仮登録いただきありがとうございます。</p>
<p>以下のリンクをクリックして、アカウントの本登録を完了させてください。:</p>

<p><%= link_to '本登録はこちら', confirmation_url(@resource, confirmation_token: @token) %></p>

----------
サキスル運営事務局
----------