<header class="bg-white">
  <nav class="border-b h-10 flex justify-between items-center">
    <%= image_pack_tag "media/images/logo-small.png", class: "h-10" %>
    <div class="flex">
      <% if user_signed_in? %>
        <%= link_to destroy_user_session_path, method: :delete, class: "flex justify-center items-center" do %>
          <i class="fas  fa-lg fa-sign-out-alt m-2"></i>
        <% end %>
        <%= link_to user_path(current_user), class: "flex justify-center items-center" do %>
          <i class="fas fa-lg fa-users-cog m-2"></i>
        <% end %>
      <% end %>
    </div>
  </nav>
</header>